doctype html
html
    head
        title="Mockit"
        link(rel="stylesheet", href="/bundle.css")
    body
        #app
        script.
            const socket = new WebSocket(`ws://localhost:${"#{wsPort}"}`);
            socket.addEventListener('message', event => {
                if (event.data === 'reload') {
                    setTimeout(() => location.reload(), 1000);
                }
            });
            socket.addEventListener('error', (err) => {
                console.warn('Websocket server will only start in watch mode.');
            });
        script(src="/bundle.js")
