@import "~@blueprintjs/core/lib/css/blueprint.css";

.bp3-tree-node-content-1 {
    padding-left: 0;
}

.bp3-numeric-input input {
    width: 75px !important;
}

h4.bp3-heading {
    font-size: 1em;
}

dt::after {
    content: ": ";
    white-space: pre;
}

dd {
    margin-left: 0;
}

.prettyprint {
    margin: 0;
    padding: 16px;
    overflow: auto;
    max-height: calc(100vh - 245px);
}

.prettyprint code > div {
    max-width: 0;
}
